on:
  workflow_dispatch:

jobs:
  tests:
    name: run pytests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.10]
    
    steps:
    - name: Check out the code
      uses: actions/checkout@v5.0.0

    - name: Docker image build
      run: docker build -t calculator .
      
    - name: Run pytest
      run: docker run calculator pytest
        
